/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    background-color: white;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    /*-webkit-user-select: none;                  */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50%;                   /* text area height */
    width:100%; 
    margin-top: 10%;                  /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.app_demo {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    background-color: white;
    position:absolute;             /* position in the center of the screen */
    text-align:center;
    height: 90%;
    width: 100%;
    margin-top: 15%;
}
.app_video {
    background:url(../img/logo_s.png) no-repeat center top;
    background-color: white;
    position:absolute;             /* position in the center of the screen */
    text-align:center;
    height: 85%;
    width: 100%;
    margin-top: 5%;
}
.video_container {
    text-align: center;
    height: 85%;
    width: 100%;
    margin-top: 15%;
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    /*margin-left: 3%;
    margin-right: 5%;*/
    /*padding: 0px 10px 30px;
    border: 10px 10px;*/
    /*-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}
.app_login {
    background:url(../img/logo_s.png) no-repeat center top; /* 170px x 200px */
    background-color: white;
    position:absolute;             /* position in the center of the screen */
    text-align:center;
    height: 95%;
    width: 100%;
    margin-top: 5%;
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:0px 0px 0px 0px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    background-color: white;
}

.buttons_container {
    font-size: 250%;
    height: 70%;
    width: 100%;
    margin-top: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
label[type=text] {
    font-size: 250%;
}
input[type=text], [type=password] {
    /*margin-left: 80px;
    margin-right: 0px;*/
    width: 100%;
    padding: 0px 0px;
    /*margin: 10px 10px 10px 30px;*/
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid lightgray;
    margin-bottom: 10px;
    border-radius: 1px;
    
}
input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}
select[type=text]{
    /*margin-left: 80px;
    margin-right: 0px;*/
    width: 100%;
    padding: 12px 2px;
    /*margin: 10px 10px 10px 30px;*/
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid lightgray;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 80%;
}

.login_container {
    text-align: left;
    height: 70%;
    width: 95%;
    margin-top: 22%;
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    margin-left: 3%;
    /*margin-right: 5%;*/
    font-size: 200%;
    /*-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}

.loginButton{
    height: 10%;
    width: 20%;
    margin-top: 5%;
    /*position: absolute;*/
    /*top: 10%;
    /*left: 10%;*/
    margin-left: 50%;
    border: none;
    /*padding: 2px 2px 2px 2px;*/
    /*top: 8px;
    right: 0px;*/
    font-size: 130%;
    /*border-radius: 12px;*/
    /*-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
}
.button {
    height: 10%;
    width: 20%;
    margin-top: 10%;
    /*position: absolute;*/
    /*top: 10%;
    /*left: 10%;*/
    margin-left: 47%;
    border: none;
    /*padding: 2px 2px 2px 2px;*/
    /*top: 8px;
    right: 0px;*/
    font-size: 20px;
    /*border-radius: 12px;*/
    /*-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
}
.button4 {
    align-items: center;
    margin-left: 0%;
    /*margin-top: 15%;*/
    font-family: Helvetica, sans-serif;
    font-size: 130%;
    height:15%;
    width:100%;
    text-shadow: 1px 2px #888888;
    /*box-shadow: rgb(240, 247, 250) 0px 1px 0px 0px;*/
    /*box-shadow: rgb(151, 196, 254) 2px 2px 2px 2px inset ; */
    background: linear-gradient(rgb(61, 148, 246) 5%, rgb(30, 98, 208) 100%) rgb(61, 148, 246);
    border-radius: 6px; border: 1px solid rgb(51, 127, 237);
    display: inline-block; cursor: pointer; color: rgb(255, 255, 255);
    /*font-family: Arial;*/
    /*font-size: 150%;*/
    /*font-weight: bold;*/
         /*padding: 6px 24px;*/
    text-decoration: none;
    text-shadow: rgb(21, 112, 205) 0px 1px 0px;
    
    /*background-color: white;
    color: black;
    width: 100%;*/
    
    /*border: 2px solid #e7e7e7;*/
}
.button4:hover {background-color: #e7e7e7;}
.button5 {
    align-items: center;
    margin-left: 0%;
    margin-top: 25%;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
    height:25%;
    width:100%;
    text-shadow: 1px 2px #888888;
    /*box-shadow: rgb(240, 247, 250) 0px 1px 0px 0px;*/
    /*box-shadow: rgb(151, 196, 254) 2px 2px 2px 2px inset ; */
    background: linear-gradient(rgb(61, 148, 246) 5%, rgb(30, 98, 208) 100%) rgb(61, 148, 246);
    border-radius: 6px; border: 1px solid rgb(51, 127, 237);
    display: inline-block; cursor: pointer; color: rgb(255, 255, 255);
    font-family: Arial;
    /*font-size: 150%;*/
    /*font-weight: bold;*/
         /*padding: 6px 24px;*/
    text-decoration: none;
    text-shadow: rgb(21, 112, 205) 0px 1px 0px;
}
.button5:hover {background-color: #e7e7e7;}
.pass_user{
    margin-top: 10%;
    text-align: left;
    position: absolute;
    height: 80%;
    width: 100%;
}
.displayUsername{
    margin-top: 20%;
    text-align: center;
    /*display: inline-block; cursor: pointer; color: rgb(255, 255, 255);*/
    font-family: Arial;
    font-size: 100%;
  
}
.user_container{
    text-align: center;
    height: 55%;
    width: 95%;
    margin-top: 3%;
    /*margin-bottom: 10px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-left: 3%;
    margin-right: 5%;*/
    padding: 6px 2px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#camera {
    /*font-family: sans-serif;*/
    font-weight: lighter;
    font-size: 130%;
}

#demo {
    /*font-family: sans-serif;*/
    font-weight: lighter;
    font-size: 180%;
}

.button_demo {
    font-family: Helvetica, sans-serif;
    height:30%;
    width:100%;
    /*text-shadow: 1px 2px #888888;*/
    /*box-shadow: rgb(240, 247, 250) 0px 1px 0px 0px;*/
    /*box-shadow: rgb(151, 196, 254) 2px 2px 2px 2px inset ; */
    background: linear-gradient(rgb(61, 148, 246) 5%, rgb(30, 98, 208) 100%) rgb(61, 148, 246);
    border-radius: 6px; border: 1px solid rgb(51, 127, 237);
    display: inline-block; cursor: pointer; color: rgb(255, 255, 255);
    /*font-family: Arial;*/
    /*font-weight: bold;*/
    /*padding: 6px 24px;*/
    /*text-decoration: none;*/
    /*text-shadow: rgb(21, 112, 205) 0px 1px 0px;*/
}
.button_demo#camera {
    margin-top: 5%;    
}
.button_demo#demo {
    margin-top: 5%;
}
.delete_user
{
    /*background:url(../img/logo_s.png) no-repeat;*/
    width:25%;
    height:25%;
    margin-top: 10%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    border: none;
}
.delete_user:active {
  border-style: outset;
  border: none;
}
.commercial {
    width:100%;
    height:30%;
}
.error_msg#wrongPassword {
    visibility: hidden;
       font-family: Helvetica, sans-serif;
    font-size: 100%;
    text-align: center;
    margin-top: 0%;
}
a {
    text-decoration: none;
    display: inline-block;
    border: 5px;
    text-transform: none;
    width:18%;
    font-family: Helvetica, sans-serif;
    background: linear-gradient(lightgray 5%, lightgray 100%) lightgray;
    border-radius: 6px; border: 1px solid lightgrey;
    display: inline-block; cursor: pointer; color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 15px;
    /*font-weight: bold;*/
    /*padding: 6px 24px;*/
    text-decoration: none;
    /*text-shadow: rgb(21, 112, 205) 0px 1px 0px;*/
    padding: 2px 0px 2px 0px;
    font-size: 18px;
}

/*a:hover {
    /*background-color: #ddd;
    color: black;
}*/
/*.round {
    border-radius: 50%;
    margin-right: 80%;
}*/
.previous {
    
    /*background-color: white;*/
    color: black;
    /*border-radius: 10%;*/
    /*margin-right: 80%;*/
    /*margin-left: 80%;*/
    position: absolute;
    top: 8px;
    left: 0px;
    
    /*border-radius: 12px;*/
    text-align: center;
    /*padding: 2px 2px 2px 10px;;*/
    
}
.next {
    /*padding: 5px 10px;*/
    /*background-color: white;*/
    color: black;
    /*margin-top: 5%;*/
    /*margin-left: 80%;*/
    position: absolute;
    top: 8px;
    right: 0px;
    /*font-size: 18px;*/
    /*border-radius: 12px;*/
    text-align: center;
    /*padding: 1px 1px;*/
    /*padding: 2px 2px 2px 0px;*/
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown {
    border: 1;
    padding: 3px 5px;
    width: 100%;
    /* attach a custom background image */
    /*background: url('http://dummyimage.com/15x15/00ff40/000&text=^') no-repeat right     center #FFF;*/

    /* prevent the default small pointer from showing up */
    -webkit-appearance: none;
    -moz-appearance:    none;
}
/*.video_dog {
  width: 10%;
  height: 10%;
}*/


p {
    font-size: 150%;
    text-align: center;
    font-family: monospace;
    float: left;
    /*padding: 0 px 0 px;*/
    position: relative;
    align-content: center;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.cover {
    height: 100%;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}